<!DOCTYPE html>
{% load staticfiles %}

{% block styles %}
    <link href="{% static "css/app.css" %}" rel="stylesheet" />
    <link href="{% static "css/style.css" %}" rel="stylesheet"/>
    <link href="{% static "css/custom.css" %}" rel="stylesheet"/>

{% endblock %}

<html lang="en">
<head>
	<title>Teacher</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<!--===============================================================================================-->
</head>
<body>

	{% block topbar_base %}
	<header>
		<div class="navbar {% block navbar_class %}navbar-expand-lg navbar-light bg-light{% endblock %}">
			<div class="container">
			{% block topbar %}
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
					<span class="fa fa-bars"></span>
				</button>
				
				{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">H O M E</a>{% endblock %}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
					<span class="fa fa-bars"></span>
				</button>
	
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					{% block nav %}
						<ul class="navbar-nav mr-auto">
							{% block nav_items %}{% comment %}
							<li class="nav-item"><a class="nav-link" href="#tab_one">One</a></li>
							<li class="nav-item"><a class="nav-link" href="#tab_two">Two</a></li>
							{% endcomment %}{% endblock %}
						</ul>
					{% endblock %}
					{% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
				</div>
			{% endblock %}
			</div>
		</div>
	</header>
	{% endblock %}
	<div class="container-contact100" style="background-image:url('{% static "img/bg-01.jpg" %}');">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" enctype="multipart/form-data" method="POST">
				{% csrf_token %}
				<span class="contact100-form-title">
					Post Your Content Here
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input">
					<span class="label-input100">Branch Name *</span>
					<input class="input100" type="text" name="branchname" placeholder="Enter branch name" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input">
					<span class="label-input100">Regulation *</span>
					<input class="input100" type="text" name="regulation" placeholder="Ex: r16" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input">
					<span class="label-input100">Semester *</span>
					<input class="input100" type="text" name="semester" placeholder="Ex: 1-2" required>
				</div>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" >
					<span class="label-input100">PDF Document</span>
					<input type="file" name="pdf" style="padding:25px;" required>
				</div>

				<div class="wrap-input100">
					<span class="label-input100">Subject Name *</span>
					<input class="input100" type="text" name="subname" placeholder="Ex: english" required>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Unit No. *</span>
					<input class="input100" type='text' name="unit" placeholder="1" required>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>




</body>
</html>
